
.fixBoxBtn{
    position: fixed;
    z-index: 99;
    right: 62px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    @include mediaquery(null, 1440px){
        right: 22px;
    }
    @include mediaquery(null, 991px){
        right: 24px;
        bottom: 60px;
    }
    &.show {
        opacity: 1;
        pointer-events: all;
    }
    &.change{
        position: absolute;
    }
    .iconPhone{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 143px;
        height: 143px;
        border-radius: 50%;
        background-color: $hover-color;
        border: 1px solid #fff;
        transition: all 0.75s;
        margin-bottom: 20px;
        @include mediaquery(null, 991px){
            display: none;
        }
        &:hover{
            @include mediaquery(992px, null){
                background-color: #fff;
                border: 1px solid $hover-color;
                .img::after{
                    opacity: 1;
                }
                .txt{
                    color: $hover-color;
                }
            }
        }
        .img{
            position: relative;
            width: 42px;
            height: 42px;
            margin-bottom: 8px;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/common/iconPhone.png') center / contain no-repeat;
            }
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url('../images/common/iconPhone_hover.png') center / contain no-repeat;
                opacity: 0;
                transition: opacity 0.75s;
            }
        }
        .txt{
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            transition: color 0.75s;
        }
    }
    .fixBtn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 74px;
        height: 74px;
        border-radius: 50%;
        background-color: $tag-color;
        border: 1px solid #fff;
        @include mediaquery(null, 991px){
            width: 60px;
            height: 60px;
        }
        &:hover{
            @include mediaquery(992px, null){
                .img{
                    transform: translateY(-5px);
                }
            }
        }
        .img{
            width: 23px;
            margin-bottom: 4px;
            transition: transform 0.75s;
            @include mediaquery(null, 991px){
                width: 18px;
            }
        }
        .txt{
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            @include mediaquery(null, 991px){
                font-size: 15px;
            }
        }
    }
}
.fixBoxBtn2{
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $hover-color;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    @include mediaquery(992px, null){
        display: none;
    }
    &.show {
        opacity: 1;
        pointer-events: all;
    }
    >a{
        flex: 0 0 50%;
        text-align: center;
    }
}