@import "base/mixin";
@import "base/variable";

.health{
    padding-top: 150px;
    @include mediaquery(null, 767px){
        padding-top: 50px;
    }
}

.health_topMenu{
    border-top: 1px solid $line-color;
    border-bottom: 1px solid $line-color;
    height: 50px;
    line-height: 50px;
    margin-bottom: 24px;
    @include mediaquery(null, 767px){
        border: none;
        height: 45px;
        line-height: 45px;
        margin-bottom: 10px;
    }
    .item_menu_Box{
        text-align: center;
    }
    .item_menu_list{
        li.active a{
            color: #fff;
            background-color: $hover-color;
        }
        a{
            display: block;
            font-size: 16px;
            padding: 0 24px;
            color: $primary-color;
            transition: 0.75s;
            &:hover{
                @include mediaquery(768px, null){
                    color: #fff;
                    background-color: $hover-color;
                }
            }
        }
    }
    select{
        appearance: none;
        display: block;
        border: none;
        width: 100%;
        height: 45px;
        line-height: 45px;
        font-size: 18px;
        color: #fff;
        border-radius: 4px;
        padding: 0 24px;
        background: $hover-color url('../images/common/select.png') center right 24px / 12px 8px no-repeat;
    }
}
.teamTopMenu{
    margin: 0 0 70px;
    @include mediaquery(null, 767px){
        margin: 0 24px 45px;
    }
    .top-menu-ul{
        margin: 0;
    }
    .item_menu_Box{
        text-align: center;
        li.active a{
            color: $hover-color;
        }
        li:first-child a{
            padding-left: 0;
        }
        li:last-child a::after{
            content: none;
        }
        a{  
            position: relative;
            padding: 0 22px;
            color: $primary-color;
            transition: color 0.75s;
            font-size: 16px;
            @include mediaquery(null, 767px){
                font-size: 15px;
                padding: 0 20px;
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 1px;
                height: 1.5em;
                background-color: $line-color;
            }
            span{
                position: relative;
                padding: 2px 0;
                display: inline-block;
                &::before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #000;
                    opacity: 0;
                    transition: opacity 0.75s;
                }
            }
            &:hover{
                @include mediaquery(768px, null){
                    span::before{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .flex-direction-nav{
        left: -36px;
        width: calc(100% + 72px);
        a.flex-prev{
            padding-right: 0;
            div::before{
                background: url("../images/common/leftMenu.png") center/contain no-repeat;
            }
        }
        a.flex-next{
            padding-left: 0;
            div::before{
                background: url("../images/common/rightMenu.png") center/contain no-repeat;
            }
        }
    }
}
.healthContain{
    position: relative;
    padding-bottom: 150px;
    @include mediaquery(null, 767px){
        padding-bottom: 76px;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 16px;
        @include mediaquery(null, 767px){
            padding-bottom: 7px;
        }
        li{
            @include mediaquery(992px, null){
                width: calc((100% - 64px) / 3);
                margin: 0 32px 83px 0;
                &:nth-child(3n){
                    margin-right: 0;
                }
            }
            @include mediaquery(992px, 1200px){
                width: calc((100% - 40px) / 3);
                margin: 0 20px 60px 0;
                &:nth-child(3n){
                    margin-right: 0;
                }
            }
            @include mediaquery(576px, 991px){
                width: calc((100% - 20px) / 2);
                margin: 0 20px 40px 0;
                &:nth-child(2n){
                    margin-right: 0;
                }
            }
            @include mediaquery(null, 575px){
                width: 100%;
                margin: 0 0 40px 0;
            }
            >a{
                &:hover{
                    @include mediaquery(768px, null){
                        .img img{
                            transform: scale(1.05);
                        }
                    }
                }
            }
            .img{
                border-radius: 24px;
                aspect-ratio: 1 / 1;
                overflow: hidden;
                margin-bottom: 36px;
                @include mediaquery(null, 767px){
                    border-radius: 12px;
                    margin-bottom: 26px;
                }
                img{
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: transform 0.75s;
                }
            }
            .sortBox{
                display: flex;
                align-items: center;
                font-size: 16px;
                color: #868686;
                margin-bottom: 17px;
                @include mediaquery(null, 767px){
                    font-size: 15px;
                }
                .sort{
                    position: relative;
                    padding: 0 18px;
                    margin-right: 15px;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        width: 1px;
                        height: 100%;
                        background-color: #9e8470;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        width: 1px;
                        height: 100%;
                        background-color: #9e8470;
                    }
                }
            }
            .title{
                font-size: 26px;
                color: #9e8470;
                font-family: $font-en;
                font-weight: 700;
                margin-bottom: 8px;
                @include mediaquery(null, 767px){
                    font-size: 25px;
                    margin-bottom: 10px;
                }
                span{
                    @include clamp(1.46, 2);
                    height: auto;
                }
            }
            .intro{
                font-size: 16px;
                font-weight: 500;
                color: $primary-color;
                margin-bottom: 12px;
                @include mediaquery(null, 767px){
                    font-size: 15px;
                }
                span{
                    @include clamp(1.875, 2);
                    height: auto;
                }
            }
            .tagBox{
                display: flex;
                flex-wrap: wrap;
                height: calc(28px * 2 + 8px);
                overflow: hidden;
                @include mediaquery(null, 767px){
                    height: calc(32px * 2 + 9px);
                }
                .tag{
                    display: inline-block;
                    border-radius: 4px;
                    border: 1px solid #cdb0a7;
                    background-color: #cdb0a7;
                    color: #fff;
                    padding: 0 17px;
                    height: 28px;
                    line-height: 28px;
                    margin: 0 8px 8px 0;
                    transition: 0.75s;
                    @include mediaquery(null, 767px){
                        font-size: 15px;
                        height: 32px;
                        line-height: 32px;
                        margin: 0 9px 9px 0;
                        border-radius: 5px;
                    }
                    &:hover{
                        @include mediaquery(768px, null){
                            background-color: #fff;
                            color: #cdb0a7;
                        }
                    }
                }
            }
        }
    }
}
.detail{
    .health{
        @include mediaquery(null, 767px){
            padding-top: 74px;
        }
    }
    .breadCrumbs{
        display: flex;
        align-items: baseline;
        font-size: 16px;
        letter-spacing: 0.05em;
        margin-bottom: 50px;
        @include mediaquery(null, 767px){
            margin-bottom: 30px;
        }
        a{
            color: #a0a0a0;
        }
        i{
            display: inline-block;
            width: 6px;
            height: 12px;
            margin: 0 10px;
            background: url('../images/common/breadArrow.png') center / contain no-repeat;
        }
        span{
            color: #9e8470;
        }
    }
    .topTxt{
        display: flex;
        border-bottom: 1px solid #dadada;
        padding-bottom: 48px;
        margin-bottom: 42px;
        @include mediaquery(null, 767px){
            flex-direction: column;
            padding-bottom: 5px;
        }
        .img{
            flex: 0 0 33.73%;
            margin-right: 32px;
            @include mediaquery(768px, 991px){
                flex: 0 0 42%;
            }
            @include mediaquery(null, 767px){
                flex: 0 0 auto;
                width: 100%;
                margin: 0 0 27px;
            }
            img{
                display: block;
                object-fit: cover;
                object-position: center;
                aspect-ratio: 1 / 1;
                border-radius: 24px;
                overflow: hidden;
                @include mediaquery(null, 767px){
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                }
            }
        }
        .sortBox{
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #868686;
            margin-bottom: 26px;
            @include mediaquery(null, 767px){
                font-size: 15px;
            }
            .sort{
                position: relative;
                padding: 0 18px;
                margin-right: 15px;
                &::before{
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    width: 1px;
                    height: 100%;
                    background-color: #9e8470;
                }
                &::after{
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    width: 1px;
                    height: 100%;
                    background-color: #9e8470;
                }
            }
        }
        .title{
            font-size: 26px;
            color: #9e8470;
            font-family: $font-en;
            font-weight: 700;
            margin-bottom: 12px;
            line-height: 1.46;
            @include mediaquery(null, 767px){
                font-size: 25px;
                margin-bottom: 7px;
            }
        }
    }
    .intro{
        font-size: 16px;
        font-weight: 500;
        color: $primary-color;
        margin-bottom: 12px;
        line-height: 1.875;
        @include mediaquery(null, 767px){
            font-size: 15px;
            line-height: 1.75;
        }
    }
    .tagBox{
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin-bottom: 21px;
        @include mediaquery(null, 767px){
            margin-bottom: 3px;
        }
        .tag{
            display: inline-block;
            border-radius: 4px;
            border: 1px solid #cdb0a7;
            background-color: #cdb0a7;
            color: #fff;
            padding: 0 17px;
            height: 28px;
            line-height: 28px;
            margin: 0 8px 8px 0;
            transition: 0.75s;
            @include mediaquery(null, 767px){
                font-size: 15px;
                height: 32px;
                line-height: 32px;
                margin: 0 9px 9px 0;
                border-radius: 5px;
            }
            &:hover{
                @include mediaquery(768px, null){
                    background-color: #fff;
                    color: #cdb0a7;
                }
            }
        }
    }
    .doctor{
        display: flex;
        margin-top: 58px;
        padding: 66px 0 62px;
        border-top: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        @include mediaquery(null, 767px){
            flex-direction: column;
            margin-top: 33px;
            padding: 39px 0 7px;
        }
        .img{
            flex: 0 0 40%;
            margin-right: 32px;
            @include mediaquery(null, 767px){
                flex: 0 0 auto;
                width: 100%;
                margin: 0 0 25px;
            }
            img{
                display: block;
                object-fit: cover;
                object-position: center;
                aspect-ratio: 1 / 1.3355;
                border-radius: 24px;
                overflow: hidden;
                @include mediaquery(null, 767px){
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                }
            }
        }
        .titleName{
            display: flex;
            align-items: flex-end;
            font-family: $font-en;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 5px;
            .name{
                display: inline-block;
                font-size: 32px;
                color: $hover-color;
                margin-right: 6px;
                @include mediaquery(null, 767px){
                    font-size: 30px;
                }
            }
            .position{
                font-size: 18px;
                color: $primary-color;
                padding-bottom: 1px;
                @include mediaquery(null, 767px){
                    font-size: 20px;
                }
            }
        }
        .enName{
            font-size: 18px;
            color: $primary-color;
            font-family: $font-en;
            font-weight: 700;
            margin-bottom: 11px;
            letter-spacing: 0;
            @include mediaquery(null, 767px){
                font-size: 18px;
                margin-bottom: 16px;
            }
        }
        .location{
            font-size: 16px;
            font-family: $font-tw;
            color: $primary-color;
            margin-bottom: 22px;
            @include mediaquery(null, 767px){
                font-size: 18px;
                margin-bottom: 16px;
            }
            i{
                position: relative;
                display: inline-block;
                padding: 0 6px;
                letter-spacing: 0.12em;
                &::after{
                    content: "";
                    position: absolute;
                    top: 55%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 1em;
                    background-color: #000;
                }
            }
        }
        .tagBox{
            margin-bottom: 24px;
        }
        .experience{
            .title{
                font-size: 26px;
                color: #9e8470;
                font-family: $font-en;
                font-weight: 700;
                line-height: 1.46;
                padding-bottom: 10px;
                margin-bottom: 17px;
                border-bottom: 1px solid #dadada;
                @include mediaquery(null, 767px){
                    font-size: 25px;
                    margin-bottom: 14px;
                }
            }
            ul{
                li{
                    position: relative;
                    line-height: 1.6;
                    font-size: 16px;
                    padding-left: 16px;
                    margin-bottom: 8px;
                    @include mediaquery(null, 767px){
                        font-size: 15px;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: 0;
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: #cdb0a7;
                        @include mediaquery(null, 767px){
                            top: 7px;
                        }
                    }
                }
            }
        }
    }
    .btnBox{
        text-align: center;
        padding: 79px 0 150px;
        @include mediaquery(null, 767px){
            padding: 35px 0 76px;
        }
        .arrow{
            margin: 0 12px 0 0;
            &::before{
                transform: scale(-1);
            }
            &::after{
                transform: scale(-1);
            }
        }
    }
}
.song_sound{
    display: none;
}
.healthMusic{
    ul li{
        >a{
            &:hover{
                @include mediaquery(768px, null){
                    .img img{
                        transform: none;
                    }
                    .img{
                        &::before{
                            opacity: 0;
                        }
                        &::after{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &.active{
            >a{
                .img{
                    &::before{
                        opacity: 0;
                    }
                    &::after{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .img{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 48px;
            height: 48px;
            background: url('../images/common/play.png') center / contain no-repeat;
            opacity: 1;
            transition: opacity 0.75s;
        }
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 42px;
            height: 48px;
            background: url('../images/common/pause.png') center / contain no-repeat;
            opacity: 0;
            transition: opacity 0.75s;
        }
    }
}
.healthVideo{
    ul li{
        >a{
            &:hover{
                @include mediaquery(768px, null){
                    .img img{
                        transform: none;
                    }
                }
            }
        }
    }
    .img{
        img{
            object-fit: contain !important;
        }
    }
}
html.popupOpen{
    overflow: hidden !important;
    #popup{
        pointer-events: all;
        opacity: 1;
    }
}
#popup{
    pointer-events: none;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    .popup_mailbox{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
        max-width: 1011px;
        aspect-ratio: 16 / 9;
        @include mediaquery(null, 767px){
            width: calc(100% - 48px);
        }
        .closeIcon{
            cursor: pointer;
            position: absolute;
            top: -65px;
            right: -65px;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            border: 1px solid #fff;
            transition: 0.75s;
            @include mediaquery(768px, 991px){
                top: -60px;
                right: -40px;
                width: 46px;
                height: 46px;
            }
            @include mediaquery(null, 767px){
                width: 36px;
                height: 36px;
                right: 0;
                top: -52px;
            }
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 24px;
                height: 24px;
                background: url('../images/common/dele.png') center / contain no-repeat;
                @include mediaquery(768px, 991px){
                    width: 20px;
                    height: 20px;
                }
                @include mediaquery(null, 767px){
                    width: 16px;
                    height: 16px;
                }
            }
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 24px;
                height: 24px;
                background: url('../images/common/dele_b.png') center / contain no-repeat;
                opacity: 0;
                transition: opacity 0.75s;
                @include mediaquery(768px, 991px){
                    width: 20px;
                    height: 20px;
                }
                @include mediaquery(null, 767px){
                    width: 16px;
                    height: 16px;
                }
            }
            &:hover{
                @include mediaquery(768px, null){
                    background-color: #fff;
                    &::after{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.healthPodcast{
    ul{
        padding-bottom: 56px;
        @include mediaquery(null, 767px){
            padding-bottom: 0;
        }
        >li{
            width: calc((100% - 32px) / 2);
            margin: 0 32px 40px 0;
            &:nth-child(3n){
                margin-right: 32px;
            }
            &:nth-child(2n){
                margin-right: 0;
            }
            @include mediaquery(null, 767px){
                width: 100%;
                margin: 0 0 42px 0;
                &:nth-child(3n){
                    margin-right: 0;
                }
            }
            iframe{
                width: 100%;
                min-height: 180px;
            }
        }
    }
}
