@import "base/mixin";
@import "base/variable";

.wrap{
    font-family: "Noto Sans TC", sans-serif;
    max-width: 768px; 
    margin: 0 auto; 
    .headIcon{
        width: 100%; 
        padding: 12px 0; 
        text-align: center; 
        background-color: #CDB0A7;
        img{
            max-height: 50px;
        }
    }
    .main{
        padding: 20px 26px 22px 27px; 
        background-color: #fff;
    }
    .wellcomeTxt p{
        text-align: center; 
        font-size: 15px; 
        font-weight: 500; 
        color: #000; 
        margin: 0 0 4px; 
        line-height: 1.33;
        &:last-child{
            margin-bottom: 10px;
        }
    }
    .orderTxt{
        padding: 0 0 30px;
        color: #8B8B8B; 
        font-weight: 500; 
        font-size: 14px;
        li{
            position: relative;
            padding-left: 14px;
            &::before{
                content: "";
                position: absolute;
                top: 7px;
                left: 0;
                width: 7px;
                height: 7px;
                background-color: #CDB0A7;
            }
        }
        span{
            color: #749393; 
            font-weight: 600;
        }
    }
    .registered{
        border: 1px solid #9E8470; 
        padding: 32px 0 31px; 
        text-align: center; 
        margin: 0 0 30px;
        span{
            font-size: 15px; 
            font-weight: 500; 
            color: #fff; 
            background-color: #CDB0A7; 
            padding: 5px 22px 4px; 
            border-radius: 16px;
        }
        .num{
            font-size: 80px; 
            font-weight: 600; 
            color: #749393;
        }
        .time{
            font-size: 20px; 
            font-weight: 500; 
            color: #000; 
            margin: 0 0 3px;
        }
        .timeTxt{
            font-size: 14px;
            font-weight: 500;
            color: #8B8B8B;
            margin: 0 0 10px;
        }
        .doctor{
            font-size: 15px;
            font-weight: 500;
            color: #000;
        }
    }
    .btnBox{
        a{
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
            border-radius: 68px;
            background-color: #749393;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
            margin: 0 0 12px;
            &:last-child{
                background-color: #B9B9B9;
            }
        }
    }
}